<launch>

    <!-- mono or stereo and what ros bag to play -->
    <arg name="max_cameras" default="4" />
    <arg name="use_stereo"  default="true" />
    <arg name="bag_start"   default="0" /> <!-- v1-2: 0, mh1: 40, mh2: 35, mh3-5: 20 -->
    <arg name="bag"         default="/home/zzq/DataSet/euroc_mav/V1_01_easy.bag" />

    <!-- imu starting thresholds -->
    <arg name="init_window_time"  default="0.75" />
    <arg name="init_imu_thresh"   default="3.0" />

    <!-- saving trajectory path and timing information -->
    <arg name="dosave"      default="true" />
    <arg name="dotime"      default="false" />
    <arg name="path_est"    default="/tmp/traj_estimate.txt" />
    <arg name="path_rect_est"    default="/tmp/traj_rect_estimate.txt" />
    <arg name="path_transform"    default="/tmp/transform.txt" />
    <arg name="path_transform_1"   default="/tmp/transform1.txt" />
    <arg name="path_transform_2"   default="/tmp/transform2.txt" />
    <!-- <arg name="path_transform_3"   default="/tmp/transform3.txt" />
    <arg name="path_transform_4"   default="/tmp/transform4.txt" /> -->
    <arg name="path_time"   default="/tmp/traj_timing.txt" />
    <arg name="path_local_relative_transform" default="/tmp/local_relative_transform.txt" />

    <arg name="use_prior_map" default="true"/>
    <arg name="trans_fej" default="true"/>
    <arg name="use_fej" default="true"/>
    <arg name="use_schmidt" default="true"/>

    <arg name="use_multi_map" default="true" />
    <arg name="num_map" default="1" />
    <arg name="map_save_path" default="/home/yjy/Desktop/colmap_0527/" />
    <!-- <arg name="pose_graph_filename_1" default="0426_retrieval_hransac_new.txt"/> -->
    <arg name="pose_graph_filename_1" default="offline_result(2).txt" />
    <arg name="keyframe_pose_filename_1" default="map.txt" />
    <!-- <arg name="keyframe_pose_filename_1" default="keyframe_pose_new.txt" /> -->
    <arg name="querry_pose_filename_1" default="jiao_ransac_result_mc2p_est_pose_th406_gtmap0224_query0224.txt" />
    <!-- MASTER NODE! -->
    <!-- <node name="test_kf_match" pkg="ov_msckf" type="test_kf_match" output="screen" clear_params="true" required="true"> -->
    <node name="run_subscribe_msckf" pkg="ov_msckf" type="run_subscribe_msckf" output="screen" clear_params="true" required="true">
    <!-- <node name="run_subscribe_msckf" pkg="ov_msckf" type="run_subscribe_msckf" output="screen" clear_params="true" required="true" launch-prefix="gdb -ex run &#45;&#45;args"> -->
 
        <!-- bag topics -->
        <param name="topic_imu"      type="string" value="/imu" />
        <!-- <param name="topic_camera0"  type="string" value="/img/CAM_B/image_raw" />
        <param name="topic_camera1"  type="string" value="/img/CAM_A/image_raw" />
        <param name="topic_camera2"  type="string" value="/img/CAM_D/image_raw" />
        <param name="topic_camera3"  type="string" value="/img/CAM_C/image_raw" /> -->
        <param name="topic_camera0"  type="string" value="/img/CAM_D/image_raw" />
        <param name="topic_camera1"  type="string" value="/img/CAM_B/image_raw" />
        <param name="topic_camera2"  type="string" value="/img/CAM_A/image_raw" />
        <param name="topic_camera3"  type="string" value="/img/CAM_C/image_raw" />

        <!-- match map parameters-->
        <param name="use_prior_map" type="bool" value="$(arg use_prior_map)" />
        <param name="use_multi_map" type="bool" value="$(arg use_multi_map)" />
        <param name="trans_fej" type="bool" value="$(arg trans_fej)" />
        <param name="use_schmidt" type="bool" value="$(arg use_schmidt)" />
        <param name="map_save_path" type="string" value="$(arg map_save_path)" /> 
        
        <param name="num_map" type="int" value="$(arg num_map)" />
        <param name="pose_graph_filename_1" type="string" value="$(arg pose_graph_filename_1)"/>
        <param name="keyframe_pose_filename_1" type="string" value="$(arg keyframe_pose_filename_1)"/>
        <param name="load_map_traj" type="bool" value="true"/>
        <param name="querry_pose_filename_1" type="string" value="$(arg querry_pose_filename_1)"/>

        <param name="map_feature_type" type="string" value="Brief"/>
        <param name="brief_pattern_filename" type="string" value="brief_pattern.yml" />
        <param name="voc_filename" type="string" value="brief_k10L6.bin" />
        <param name="pixel_error" type="double" value="3.0" />
        <param name="map_file" type="string" value="/home/yjy/Desktop/colmap_0527/map.txt"/>

        <param name="kf_match_interval" type="double" value="1" />
        <param name="use_robust_match" type="bool" value="false" />

        <param name="points_filename" type="string" value="/tmp/match_points.txt"/>
        <param name="save_match_points" type="bool" value="true" />
        <!-- <param name="match_num_thred" type="int" value="30" /> -->
        <param name="match_num_thred" type="int" value="40"/>
        <param name="pixel_error" type="double" value="10.0"/>
        <param name="transform_cov" type="double" value="10.0"/>
        <param name="keyframe_cov_pos" type="double" value="0.001"/>
        <param name="keyframe_cov_ori" type="double" value="0.0025"/>



        <!-- world/filter parameters -->
        <param name="use_fej"                type="bool"   value="true" />
        <param name="use_imuavg"             type="bool"   value="true" />
        <param name="use_rk4int"             type="bool"   value="true" />
        <param name="use_stereo"             type="bool"   value="$(arg use_stereo)" />
        <param name="calib_cam_extrinsics"   type="bool"   value="true" />
        <param name="calib_cam_intrinsics"   type="bool"   value="true" />
        <param name="calib_cam_timeoffset"   type="bool"   value="false" />
        <param name="calib_camimu_dt"        type="double" value="0.0" />
        <param name="max_clones"             type="int"    value="18" />
        <param name="max_slam"               type="int"    value="50" />
        <param name="max_slam_in_update"     type="int"    value="25" /> <!-- 25 seems to work well -->
        <param name="max_msckf_in_update"    type="int"    value="999" />
        <param name="max_cameras"            type="int"    value="$(arg max_cameras)" />
        <!-- <param name="dt_slam_delay"          type="double" value="3" /> -->
        <param name="dt_slam_delay"          type="double" value="3" />
        <param name="init_window_time"       type="double" value="$(arg init_window_time)" />
        <param name="init_imu_thresh"        type="double" value="$(arg init_imu_thresh)" />
        <rosparam param="gravity">[0.0,0.0,9.81]</rosparam>
        <param name="feat_rep_msckf"         type="string" value="GLOBAL_3D" />
        <param name="feat_rep_slam"          type="string" value="ANCHORED_FULL_INVERSE_DEPTH" />
        <param name="feat_rep_aruco"         type="string" value="ANCHORED_FULL_INVERSE_DEPTH" />

        <!-- zero velocity update parameters -->
        <param name="try_zupt"               type="bool"   value="true" />
        <param name="zupt_chi2_multipler"    type="int"    value="2" />
        <param name="zupt_max_velocity"      type="double" value="0.02" />
        <param name="zupt_noise_multiplier"  type="double" value="30" />

        <!-- timing statistics recording -->
        <param name="record_timing_information"   type="bool"   value="$(arg dotime)" />
        <param name="record_timing_filepath"      type="string" value="$(arg path_time)" />

        <!-- tracker/extractor properties -->
        <param name="use_klt"            type="bool"   value="true" />
        <!-- <param name="num_pts"            type="int"    value="100" />
        <param name="fast_threshold"     type="int"    value="8" />
        <param name="grid_x"             type="int"    value="11" />
        <param name="grid_y"             type="int"    value="7" />
        <param name="min_px_dist"        type="int"    value="15" /> -->
        <param name="num_pts"            type="int"    value="80" />
        <param name="fast_threshold"     type="int"    value="10" />
        <param name="grid_x"             type="int"    value="11" />
        <param name="grid_y"             type="int"    value="9" />
        <param name="min_px_dist"        type="int"    value="3" />
        <param name="knn_ratio"          type="double" value="0.70" />
        <param name="downsample_cameras" type="bool"   value="false" />
        <!-- <param name="multi_threading"    type="bool"   value="true" /> -->
        <!-- <param name="histogram_method"   type="string" value="HISTOGRAM" />  -->
        <!-- NONE, HISTOGRAM, CLAHE -->

        <!-- aruco tag/mapping properties -->
        <param name="use_aruco"        type="bool"   value="false" />
        <param name="num_aruco"        type="int"    value="1024" />
        <param name="downsize_aruco"   type="bool"   value="true" />

        <!-- sensor noise values / update -->
        <!-- <param name="up_msckf_sigma_px"            type="double"   value="0.4" /> -->
        <param name="up_msckf_sigma_px"            type="double"   value="0.6" />
        <param name="up_msckf_chi2_multipler"      type="double"   value="1" />
        <param name="up_slam_sigma_px"             type="double"   value="1" />
        <param name="up_slam_chi2_multipler"       type="double"   value="1" />
        <param name="up_aruco_sigma_px"            type="double"   value="1" />
        <param name="up_aruco_chi2_multipler"      type="double"   value="1" />
        <param name="gyroscope_noise_density"      type="double"   value="1.6968e-02" />
        <param name="gyroscope_random_walk"        type="double"   value="1.9393e-03" />
        <param name="accelerometer_noise_density"  type="double"   value="6.0000e-2" />
        <param name="accelerometer_random_walk"    type="double"   value="5.0000e-3" />


         <!-- camera intrinsics -->
        <rosparam param="cam0_wh">[1152, 720]</rosparam>   <!-- rosparam以yaml来读数据，通常用于矩阵的读取-->
        <rosparam param="cam1_wh">[1152, 720]</rosparam>
        <rosparam param="cam2_wh">[1152, 720]</rosparam>   <!-- rosparam以yaml来读数据，通常用于矩阵的读取-->
        <rosparam param="cam3_wh">[1152, 720]</rosparam>
        <param name="cam0_is_fisheye" type="bool" value="false" />
        <param name="cam1_is_fisheye" type="bool" value="false" />
        <param name="cam2_is_fisheye" type="bool" value="false" />
        <param name="cam3_is_fisheye" type="bool" value="false" />

        <!-- <rosparam param="cam0_k">[682.584370274579,683.60591324335,584.696863649062,350.190511509824]</rosparam>
        <rosparam param="cam0_d">[0.0265,-0.0476,0,0]</rosparam>
        <rosparam param="cam1_k">[680.410823075774 , 681.443858577109,578.204488945877,352.492879954109]</rosparam>
        <rosparam param="cam1_d">[0.027433724027423,-0.044118529002657,0,0]</rosparam>
        <rosparam param="cam2_k">[685.103147083324 ,685.438684192173, 574.428876721295,355.209511000347]</rosparam>
        <rosparam param="cam2_d">[0.0264811576388864,-0.0561555774073262,0,0]</rosparam>
        <rosparam param="cam3_k">[684.100762539661,684.792850321549,582.511083857304,358.473329685483]</rosparam>
        <rosparam param="cam3_d">[0.0234781926967344,-0.0559150241872289,0,0]</rosparam> -->
        <rosparam param="cam0_k">[680.986566365892,680.73354007274,572.304618977409,355.553433262214]</rosparam>
        <rosparam param="cam0_d">[0.0213550511868105 , -0.0500832912988368, 0.0, 0.0]</rosparam>
        <rosparam param="cam1_k">[678.045102187066 ,678.020377927915, 573.254476121392, 358.448097922931]</rosparam>
        <rosparam param="cam1_d">[0.0275636373645812,-0.0594453156763491,0,0]</rosparam>
        <rosparam param="cam2_k">[680.482756240613,680.133208866108,584.167968145183,346.357061095669]</rosparam>
        <rosparam param="cam2_d">[0.0238045687560866,-0.0509636456900928,0,0]</rosparam>
        <rosparam param="cam3_k">[681.28148295745, 681.197930053923, 580.537829952612,360.657113423441]</rosparam>
        <rosparam param="cam3_d">[0.0221156043500642,-0.046359070471357,0,0]</rosparam>

        <!-- camera extrinsics -->
        <rosparam param="T_C0toI">
            [
            0.0, 0.0, 1.00, 0.073,
            1.0, 0.0, 0.0, -0.035,
            0.0, 1.0, 0.0, -0.01,
            0.0, 0.0, 0.0, 1.0
            ]
        </rosparam>

        
        <!-- <rosparam param="T_C1toI">
            [
            -0.00259638142470268,-0.00523094217074103, 0.999982947878364, 0.0736807452698026,
            0.999967081475167, 0.00767365181448269, 0.00263648134213676,  0.0342545591279272,
            -0.00768731224387351,   0.999956875226045, 0.00521084624881052,-0.00984450435606089,
            0.0, 0.0, 0.0, 1.0
            ]
        </rosparam> -->
        <rosparam param="T_C1toI">
            [
            -0.00591885806534344,-0.00520039154403561,  0.999968961041787, 0.0726543980762117,
            0.99970722905452,  0.0234304230094901,0.00603916001859865, 0.0363412526123123,
            -0.0234611017502632,   0.999711944114596,0.00506018767228228,-0.0111909429509495,
            0.0, 0.0, 0.0, 1.0
            ]
        </rosparam>
         
        <rosparam param="T_C2toI">
            [
            0.939692620785908,0, 0.342020143325669, 0.03385,
            0.342020143325669,0,-0.939692620785908,-0.03775,
            0,1,0,   -0.01,
            0.0, 0.0, 0.0, 1.0
            ]
        </rosparam>

         
        <rosparam param="T_C3toI">
            [
            -0.939692620785908,0,0.342020143325669, 0.03385,
            0.342020143325669,0,0.939692620785908, 0.03775,
            0,1,0,   -0.01,
            0.0, 0.0, 0.0, 1.0
            ]
        </rosparam>


    </node>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ov_msckf)/launch/display_2.rviz" />
<!--     <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ov_msckf)/launch/display.rviz" /> -->

<!-- record the trajectory if enabled -->
    <group if="$(arg dosave)">
        <node name="recorder_estimate" pkg="ov_eval" type="pose_to_file" output="screen" required="true">
            <param name="topic"      type="str" value="/ov_msckf/poseimu" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_est)" />
        </node>
         <node name="recorder_estimate_rect" pkg="ov_eval" type="pose_to_file" output="screen">
            <param name="topic"      type="str" value="/ov_msckf/poseimu_rect" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_rect_est)" />

        </node>
        <node name="recorder_transform" pkg="ov_eval" type="pose_to_file" output="screen">
            <param name="topic"      type="str" value="/ov_msckf/transform" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_transform)" />
        </node>
         <node name="recorder_local_relative_transform" pkg="ov_eval" type="pose_to_file" output="screen">
            <param name="topic"      type="str" value="/ov_msckf/local_relative_transform" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_local_relative_transform)" />
        </node>
        <node name="recorder_transform_1" pkg="ov_eval" type="pose_to_file" output="screen">
            <param name="topic"      type="str" value="/ov_msckf/transform1" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_transform_1)" />
        </node>
        <node name="recorder_transform_2" pkg="ov_eval" type="pose_to_file" output="screen">
            <param name="topic"      type="str" value="/ov_msckf/transform2" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_transform_2)" />
        </node>
    </group>


</launch>