<launch>

    <!-- mono or stereo and what ros bag to play -->
    <arg name="max_cameras" default="4" />
    <arg name="use_stereo"  default="true" />
    <arg name="bag_start"   default="0" /> <!-- v1-2: 0, mh1: 40, mh2: 35, mh3-5: 20 -->


    <!-- imu starting thresholds -->
    <arg name="init_window_time"  default="0.15" />   <!-- MH04 0.5 others 0.75-->
    <arg name="init_imu_thresh"   default="0.08" />

    <!-- saving trajectory path and timing information -->
    <arg name="dosave"      default="true" />
    <arg name="dotime"      default="true" />
    <arg name="path_est"    default="/tmp/traj_estimate.txt" />
    <arg name="path_rect_est"    default="/tmp/traj_rect_estimate.txt" />
    <arg name="path_transform"    default="/tmp/transform.txt" />
    <arg name="path_transform_1"   default="/tmp/transform1.txt" />
    <arg name="path_transform_2"   default="/tmp/transform2.txt" />
    <!-- <arg name="path_transform_3"   default="/tmp/transform3.txt" />
    <arg name="path_transform_4"   default="/tmp/transform4.txt" /> -->
    <arg name="path_time"   default="/tmp/traj_timing.txt" />
    <arg name="path_local_relative_transform" default="/tmp/local_relative_transform.txt" />
   

    <arg name="use_prior_map"  default="true" />
    <arg name="trans_fej" default="true" />
    <arg name="use_fej" default="true" />
    <arg name="use_schmidt" default="true" />

    <!-- multi map setting -->
    <!-- how many maps to use -->
    <arg name="use_multi_map" default="true" />
    <arg name="num_map" default="1" />
    <!-- <arg name="map_save_path" default="/media/tony/Test/jfr_data/oxford_result/math_easy/" /> -->
    <arg name="map_save_path" default="/media/tony/Test/jfr_data/oxford_result/quad_median/" />
    <arg name="pose_graph_filename_1" default="offline_result.txt" />
    <!-- <arg name="keyframe_pose_filename_1" default="keyframe_pose_new.txt" /> -->
    <arg name="keyframe_pose_filename_1" default="map.txt" />
    <arg name="querry_pose_filename_1" default="jiao_ransac_result_mc2p_est_pose_th10_sparsemapmedium.txt" />
    
    <arg name="pose_graph_filename_2" default="model3_mcloc_timeq_timer_2dq_2dr_3dr_th40_sparsemap2.txt" />
    <arg name="keyframe_pose_filename_2" default="keyframe_pose_new.txt" />
    <arg name="querry_pose_filename_2" default="jiao_ransac_result_model3_th40_sparsemap.txt" />

    <!-- <arg name="pose_graph_filename_3" default="qMH03_rMH04_r2d2_loc_timeq_timer_2dq_2dr_3dr.txt" />
    <arg name="keyframe_pose_filename_3" default="traj_estimate_MH04_cam.txt" />
    <arg name="pose_graph_filename_4" default="qMH03_rMH05_r2d2_loc_timeq_timer_2dq_2dr_3dr.txt" />
    <arg name="keyframe_pose_filename_4" default="traj_estimate_MH05_cam.txt" /> -->


    <!-- MASTER NODE! -->
    <!-- <node name="run_subscribe_msckf" pkg="ov_msckf" type="run_subscribe_msckf" output="screen" clear_params="true" required="true"> -->
    <node name="run_subscribe_msckf" pkg="ov_msckf" type="run_subscribe_msckf" output="screen" clear_params="true" required="true" launch-prefix="gdb -ex run &#45;&#45;args">
    <!-- <node name="run_subscribe_msckf" pkg="ov_msckf" type="run_subscribe_msckf" output="screen" clear_params="true" required="true" launch-prefix="gdb -ex ;args"> -->
        <!-- bag topics -->
        <param name="topic_imu"      type="string" value="/alphasense_driver_ros/imu" />
        <param name="topic_camera0"  type="string" value="/alphasense_driver_ros/cam0/image_raw" />
        <param name="topic_camera1"  type="string" value="/alphasense_driver_ros/cam1/image_raw" />
        <param name="topic_camera2"  type="string" value="/alphasense_driver_ros/cam3/image_raw" />
        <param name="topic_camera3"  type="string" value="/alphasense_driver_ros/cam4/image_raw" />

        
        <param name="path_gt"     type="string" value="$(find ov_data)/euroc_mav/MH03_aligned.txt" />

        <!-- match map parameters-->
       <param name="use_prior_map" type="bool" value="$(arg use_prior_map)" />
       <param name="use_multi_map" type="bool" value="$(arg use_multi_map)" />
        <param name="trans_fej" type="bool" value="$(arg trans_fej)" />
        <param name="use_schmidt" type="bool" value="$(arg use_schmidt)" />
        <param name="map_save_path" type="string" value="$(arg map_save_path)" /> 
        
        <param name="num_map" type="int" value="$(arg num_map)" />
        <param name="pose_graph_filename_1" type="string" value="$(arg pose_graph_filename_1)" />
        <param name="keyframe_pose_filename_1" type="string" value="$(arg keyframe_pose_filename_1)" />
        <param name="pose_graph_filename_2" type="string" value="$(arg pose_graph_filename_2)" />
        <param name="keyframe_pose_filename_2" type="string" value="$(arg keyframe_pose_filename_2)" />
        <!-- <param name="pose_graph_filename_3" type="string" value="$(arg pose_graph_filename_3)" />
        <param name="keyframe_pose_filename_3" type="string" value="$(arg keyframe_pose_filename_3)" />
        <param name="pose_graph_filename_4" type="string" value="$(arg pose_graph_filename_4)" />
        <param name="keyframe_pose_filename_4" type="string" value="$(arg keyframe_pose_filename_4)" />  -->
        <param name="load_map_traj" type="bool" value="true"/>
        <param name="querry_pose_filename_1" type="string" value="$(arg querry_pose_filename_1)" />
        <param name="querry_pose_filename_2" type="string" value="$(arg querry_pose_filename_2)" />
        
        <param name="map_feature_type" type="string" value="Brief"/>
        <param name="brief_pattern_filename" type="string" value="brief_pattern.yml" />
        <param name="voc_filename" type="string" value="brief_k10L6.bin" />
        <param name="pixel_error" type="double" value="3.0" />
        <!-- <param name="map_file" type="string" value="/media/tony/Test/jfr_data/oxford_result/math_easy/map.txt"/> -->
        <param name="map_file" type="string" value="/media/tony/Test/jfr_data/oxford_result/quad_median/map.txt"/>


        <param name="points_filename" type="string" value="/tmp/match_points.txt" />
        <param name="save_match_points" type="bool" value="true" />
        <!-- <param name="match_num_thred" type="int" value="40" /> -->
        <param name="match_num_thred" type="int" value="20" />
        <param name="pixel_error" type="double" value="10.0" />
        <param name="transform_cov" type="double" value="10.0" />
        <param name="keyframe_cov_pos" type="double" value="0.25"/>
        <param name="keyframe_cov_ori" type="double" value="0.0025"/>
        <!-- <param name="keyframe_cov_pos" type="double" value="0.125"/>
        <param name="keyframe_cov_ori" type="double" value="0.025"/> -->

        <param name="iter_num" type="int" value="0"/>
        <param name="opt_thred" type="double" value="100.8"/>

        <param name="kf_match_interval" type="double" value="0" />
        <param name="use_robust_match" type="bool" value="false" />
        <param name="show_match_image" type="bool" value="false" /> 

        <!-- world/filter parameters -->
        <param name="use_fej"                type="bool"   value="$(arg use_fej)" />
        <param name="use_imuavg"             type="bool"   value="true" />
        <param name="use_rk4int"             type="bool"   value="true" />
        <param name="use_stereo"             type="bool"   value="$(arg use_stereo)" />
        <param name="calib_cam_extrinsics"   type="bool"   value="false" />
        <param name="calib_cam_intrinsics"   type="bool"   value="true" />
        <param name="calib_cam_timeoffset"   type="bool"   value="false" /> <!--false-->
        <param name="calib_camimu_dt"        type="double" value="0.0" />
        <param name="max_clones"             type="int"    value="11" />
        <param name="max_slam"               type="int"    value="50" /> <!-- 25-->
        <param name="max_slam_in_update"     type="int"    value="25" /> <!-- 25 seems to work well -->
        <param name="max_msckf_in_update"    type="int"    value="999" />
        <param name="max_cameras"            type="int"    value="$(arg max_cameras)" />
        <param name="dt_slam_delay"          type="double" value="3" />
        <param name="init_window_time"       type="double" value="$(arg init_window_time)" />
        <param name="init_imu_thresh"        type="double" value="$(arg init_imu_thresh)" />
        <rosparam param="gravity">[0.0,0.0,9.81]</rosparam>
        <param name="feat_rep_msckf"         type="string" value="GLOBAL_3D" />
        <param name="feat_rep_slam"          type="string" value="ANCHORED_FULL_INVERSE_DEPTH" />
        <param name="feat_rep_aruco"         type="string" value="ANCHORED_FULL_INVERSE_DEPTH" />

        <!-- zero velocity update parameters -->
        <param name="try_zupt"               type="bool"   value="false" />
        <param name="zupt_chi2_multipler"    type="int"    value="2" />
        <param name="zupt_max_velocity"      type="double" value="0.3" />
        <param name="zupt_noise_multiplier"  type="double" value="50" />

        <!-- timing statistics recording -->
        <param name="record_timing_information"   type="bool"   value="$(arg dotime)" />
        <param name="record_timing_filepath"      type="string" value="$(arg path_time)" />

        <!-- tracker/extractor properties -->
        <param name="use_klt"            type="bool"   value="true" />
        <param name="num_pts"            type="int"    value="80" />
        <param name="fast_threshold"     type="int"    value="10" />
        <param name="grid_x"             type="int"    value="5" />
        <param name="grid_y"             type="int"    value="3" />
        <param name="min_px_dist"        type="int"    value="10" />
        <param name="knn_ratio"          type="double" value="0.70" />
        <param name="downsample_cameras" type="bool"   value="false" />
        <param name="multi_threading"    type="bool"   value="true" />
        <param name="histogram_method"   type="string" value="HISTOGRAM" /> <!-- NONE, HISTOGRAM, CLAHE -->

        <!-- aruco tag/mapping properties -->
        <param name="use_aruco"        type="bool"   value="false" />
        <param name="num_aruco"        type="int"    value="1024" />
        <param name="downsize_aruco"   type="bool"   value="true" />

        <param name="fi_max_dist"        type="double" value="500" />
        <param name="fi_max_baseline"    type="double" value="120" />
        <param name="fi_max_cond_number" type="double" value="20000" />
        <param name="fi_triangulate_1d"  type="bool"   value="false" />

        <!-- sensor noise values / update -->
        <param name="up_msckf_sigma_px"            type="double"   value="0.4" />
        <param name="up_msckf_chi2_multipler"      type="double"   value="1" />
        <param name="up_slam_sigma_px"             type="double"   value="2" />
        <param name="up_slam_chi2_multipler"       type="double"   value="1" />
        <param name="up_aruco_sigma_px"            type="double"   value="1" />
        <param name="up_aruco_chi2_multipler"      type="double"   value="1" />
        <param name="gyroscope_noise_density"      type="double"   value="0.019" />
        <param name="gyroscope_random_walk"        type="double"   value="0.000266" />
        <param name="accelerometer_noise_density"  type="double"   value="0.019" />
        <param name="accelerometer_random_walk"    type="double"   value="0.0043" />



        <!-- camera intrinsics -->
        <rosparam param="cam0_wh">[720, 540]</rosparam>
        <rosparam param="cam1_wh">[720, 540]</rosparam>
        <rosparam param="cam2_wh">[720, 540]</rosparam>
        <rosparam param="cam3_wh">[720, 540]</rosparam>
        <param name="cam0_is_fisheye" type="bool" value="true" />
        <param name="cam1_is_fisheye" type="bool" value="true" />
        <param name="cam2_is_fisheye" type="bool" value="true" />
        <param name="cam3_is_fisheye" type="bool" value="true" />
        <!-- math -->
        <!-- <rosparam param="cam0_k">[353.83530850045827, 353.08084839605925, 354.9603638484091, 261.96623968254306]</rosparam>
        <rosparam param="cam0_d">[-0.03908623683636908, -0.008364734078508202, 0.006865315014140142,-0.0022325156415695015]</rosparam>
        <rosparam param="cam1_k">[353.6540189302263, 353.01548372647176, 362.4407167511296, 288.4941881913415]</rosparam>
        <rosparam param="cam1_d">[-0.039027237686972804, -0.007007232658408612, 0.004840825566050042,-0.001621433395224995]</rosparam>
        <rosparam param="cam2_k">[355.585513023454, 354.4708924377204, 359.1699883054597, 246.0908212151934]</rosparam>
        <rosparam param="cam2_d">[-0.04738389395412899, 0.006350363749183408, -0.006374581267773348,0.0016867546434477334]</rosparam>
        <rosparam param="cam3_k">[351.6547241343154, 350.97590029372265, 342.91570997688115, 288.27050308689036]</rosparam>
        <rosparam param="cam3_d">[-0.03713375423447921, -0.007489770634057738, 0.003287983152377356,-0.0008136114053480689]</rosparam> -->
        <!-- quad -->
        <rosparam param="cam0_k">[352.779,354.609,359.035,260.546]</rosparam>
        <rosparam param="cam0_d">[-0.04217,-0.00413,0.00179,-0.00063]</rosparam>
        <rosparam param="cam1_k">[352.538,354.508,363.856,287.494]</rosparam>
        <rosparam param="cam1_d">[-0.04314,0.00100,-0.00286,0.00069]</rosparam>
        <rosparam param="cam2_k">[353.4771977455599,352.49309892170646,359.3820102818009,246.0762257814033]</rosparam>
        <rosparam param="cam2_d">[-0.03932015398330179,-0.004740697084133104,0.0015352229232181549,-0.0004047224742092007]</rosparam>
        <rosparam param="cam3_k">[351.3873118634877,350.7642336259401,342.7571148078969,287.284844843618]</rosparam>
        <rosparam param="cam3_d">[-0.03691139827164534,-0.008792737141233907,0.005972994670065676,-0.0019218526270038702]</rosparam>

        <!-- camera extrinsics -->
        <rosparam param="T_C0toI">
            [
            0.00343916, -0.00100545,  0.99999358,0.04922168,
            0.99997599,  0.00601977, -0.00343304,0.04723672,
            -0.00601628,  0.99998138,  0.00102613,-0.00939957,
            0.0, 0.0, 0.0, 1.0
            ]
        </rosparam>       
   
        <rosparam param="T_C1toI">
            [
            0.01073605, -0.00030381,  0.99994232,  0.04846980,
            0.99993828, -0.00285536, -0.01073687, -0.06343414,
            0.00285846,  0.99999588,  0.00027314, -0.00993133,
            0.0, 0.0, 0.0, 1.0
            ]
        </rosparam>
        <rosparam param="T_C2toI">
            [
            -0.99997431,  0.00568413, 0.00436591,-0.0087409,
            0.00431883, -0.00826834, 0.99995649,0.05844016,
            0.00571998,  0.99994966, 0.00824358,-0.00868016,
            0.0, 0.0, 0.0, 1.0
            ]
        </rosparam> 
        <rosparam param="T_C3toI">
            [
            0.99996102, 0.00491142, -0.00733712,-0.00700458,
            -0.007327,  -0.00207514, -0.999971,-0.07162565,
            -0.0049265,  0.99998579, -0.00203907,-0.01111942,
            0.0, 0.0, 0.0, 1.0
            ]
        </rosparam>


    </node>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ov_msckf)/launch/display_2.rviz" />

    <node pkg="image_transport" type="republish" name="republish0" args="compressed in:=/alphasense_driver_ros/cam0 raw out:=/alphasense_driver_ros/cam0/image_raw" output="screen" respawn="true"/>
    <node pkg="image_transport" type="republish" name="republish1" args="compressed in:=/alphasense_driver_ros/cam1 raw out:=/alphasense_driver_ros/cam1/image_raw" output="screen" respawn="true"/>
    <node pkg="image_transport" type="republish" name="republish4" args="compressed in:=/alphasense_driver_ros/cam4 raw out:=/alphasense_driver_ros/cam4/image_raw" output="screen" respawn="true"/>
    <node pkg="image_transport" type="republish" name="republish3" args="compressed in:=/alphasense_driver_ros/cam3 raw out:=/alphasense_driver_ros/cam3/image_raw" output="screen" respawn="true"/>

    <!-- play the dataset -->
    <!-- <node pkg="rosbag" type="play" name="rosbag" args="-d 5 -r 1 -s $(arg bag_start) $(arg bag)" required="true"/> -->

    <!-- record the trajectory if enabled -->
    <group if="$(arg dosave)">
        <node name="recorder_estimate" pkg="ov_eval" type="pose_to_file" output="screen" required="true">
            <param name="topic"      type="str" value="/ov_msckf/poseimu" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_est)" />
        </node>
         <node name="recorder_estimate_rect" pkg="ov_eval" type="pose_to_file" output="screen">
            <param name="topic"      type="str" value="/ov_msckf/poseimu_rect" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_rect_est)" />

        </node>
        <node name="recorder_transform" pkg="ov_eval" type="pose_to_file" output="screen">
            <param name="topic"      type="str" value="/ov_msckf/transform" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_transform)" />
        </node>
         <node name="recorder_local_relative_transform" pkg="ov_eval" type="pose_to_file" output="screen">
            <param name="topic"      type="str" value="/ov_msckf/local_relative_transform" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_local_relative_transform)" />
        </node>
        <node name="recorder_transform_1" pkg="ov_eval" type="pose_to_file" output="screen">
            <param name="topic"      type="str" value="/ov_msckf/transform1" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_transform_1)" />
        </node>
        <node name="recorder_transform_2" pkg="ov_eval" type="pose_to_file" output="screen">
            <param name="topic"      type="str" value="/ov_msckf/transform2" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_transform_2)" />
        </node>
    </group>


</launch>